* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ccc;
    padding: 10px 20px;
}

header .logo {
    font-weight: bold;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav a.active {
    color: black;
    font-weight: bold;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #e0e0e0;
}

.banner {
    text-align: center;
}

.banner h1 {
    font-size: 48px;
}

.banner p {
    font-size: 24px;
}

.google-play-btn img {
    margin-top: 20px;
    width: 150px;
}

.carousel-inner {
    min-height: 150px; /* Atur tinggi minimum sesuai kebutuhan */
    padding-bottom: 40px; /* Tambahkan padding untuk memberi ruang pada tombol */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Untuk menyeimbangkan konten */
}

.carousel-item {
    margin-bottom: 10px; /* Jarak antar item dalam carousel */
}

.carousel-item p {
    margin: 0; /* Hapus margin default pada elemen paragraf */
}

footer {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.dots {
    display: flex;
    gap: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.dot.active {
    background-color: black;
}
